Excercise 1/.idea/Excercise 1.iml
Excercise 1/.idea/.gitignore
Excercise 1/.idea/misc.xml
Excercise 1/.idea/modules.xml
Excercise 1/averages.csv
Excercise 1/.idea/inspectionProfiles/profiles_settings.xml
Excercise 1/.idea/inspectionProfiles/Project_Default.xml
Excercise 1/__pycache__/ex1b.cpython-310.pyc
Excercise 1/.idea/vcs.xml

Excersice 4/Server/node_modules/
Excersice 4/Server/.env







