Exercise 1/.idea/Exercise 1.iml
Exercise 1/.idea/.gitignore
Exercise 1/.idea/misc.xml
Exercise 1/.idea/modules.xml
Exercise 1/averages.csv
Exercise 1/.idea/inspectionProfiles/profiles_settings.xml
Exercise 1/.idea/inspectionProfiles/Project_Default.xml
Exercise 1/__pycache__/ex1b.cpython-310.pyc
Exercise 1/.idea/vcs.xml

Exercise 4/Server/node_modules/
Exercise 4/Server/.env







